<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incident Details</title>

</head>
<body>
<table border = 1>
            <tr>
                <th>IncidentID</th>
                <th>creation time</th>
               <th> Category </th>
               <th> Description</th>
                <th>Status</th>
            </tr>
         {% for Row in Incident %}
             <tr>
             {% for Item in Row.values() %}
             <td>{{ Item }} </td>
             {% endfor %}
             </tr>
         {% endfor %}
      </table>
<label style="alignment: center" for="Iname">Rate the Resolution</label><br>
    <select autofocus name="rating" id="rating">
        <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
         <option value="3">3</option>
  <option value="4">4</option>
        <option value="5">5</option>
       </select> <br><br>
<input  style="alignment: center"type="submit" value="Submit" >
</body>
</html>