<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Previous Request</title>
    <style>h1 {

  text-align: center;
  padding: 20px;
}
    label {


   position: relative;
  left: 500px;
  }
      input {
  text-align: center;
    position: relative;
  left: 500px;
      }

    </style>
</head>
<body>
<form action="/searchresult">
<h1><b><strong>Search your request</strong></b></h1><br><br>
    <label for="Cname">Incident Number</label><br>
    <input type="text"  name="IncidentID"/><br><br>
<input  type="submit" value="Submit"/><br><br>
    </form>
</body>
</html>