<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard for BBMP</title>
</head>
<body>
<center><h1>Dashboard for BBMP</h1></center>
<b>Issue vs Sentiment Matrix</b>
<br><br>
<table border="1">
    <tr>
        <th>Issue Category/Sentiment Matrix</th>
        <th>Low Importance/Good</th>
        <th>High Importance/Bad</th>
    </tr>
    <tr>
        <td>Cleanliness</td>
        <td>{{ MatrixCLval }}</td>
        <td>{{ MatrixCHval }}</td>
    </tr>
    <tr>
        <td>Infrastructure</td>
        <td>{{ MatrixILval }}</td>
        <td>{{ MatrixIHval }}</td>
    </tr>
</table>

<br><br>
<b>List of Top 5 Incidents/Concerns with High Importance</b>
<br><br>
 <table border = 1>
            <tr>
                <th>IncidentID</th>
                <th>Customer Name</th>
                <th>Time of creation</th>
               <th> Category </th>
                <th>Sentiment of Issue</th>
               <th> Description</th>
                <th>Status</th>
            </tr>
         {% for Row in Category %}
             <tr>
             {% for Item in Row.values() %}
             <td>{{ Item }} </td>
             {% endfor %}
             </tr>
         {% endfor %}
      </table>
<br>
<br>
<a href = "https://dialogflow.cloud.google.com/#/agent/ai-neophytes-9fee/analytics" ><b>Link for Virtual Agent Analytics</b></a>
</body>
</html>