<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all Incidents</title>
</head>
<body>
Issue vs Sentiment Matrix
<table border="1">
    <tr>
        <th>Issue Category/Sentiment Matrix</th>
        <th>Low Importance/Good</th>
        <th>High Importance/Bad</th>
    </tr>
    <tr>
        <td>Cleanliness</td>
        <td>34</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Infrastructure</td>
        <td>12</td>
        <td>40</td>
    </tr>
</table>

<br><br>
List of All incidents
 <table border = 1>
            <tr>
                <th>IncidentID</th>
                <th>Customer Name</th>
                <th>Time of creation</th>
               <th> Category </th>
                <th>Sentiment of Issue</th>
               <th> Description</th>
                <th>Status</th>
            </tr>
         {% for Row in Category %}
             <tr>
             {% for Item in Row.values() %}
             <td>{{ Item }} </td>
             {% endfor %}
             </tr>
         {% endfor %}
      </table>
</body>
</html>